.navbar {
  position: fixed;
  left: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 672px;
  margin: 24px auto 0;
  padding: 10px 8px;
  border-radius: 16px;
  border: 1px solid $white2;

  backdrop-filter: blur(50px);
  background-color: $white0;
  transform: translateX(-50%);
  z-index: 100;

  &__menu-logo {
    display: flex;
    align-items: flex-start;
  }

  &__menu, &__menu-item {
    display: flex;
    align-items: center;
  }

  &__menu-item {
    color: $white;
    margin-left: 24px;
    white-space: nowrap;
    font-weight: 500;
    opacity: 0.5;
    transition: opacity 250ms ease-in-out;

    &--is-active,
    &:hover { opacity: 1; }
  }
}