body {
    background-color: #121212;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
}