body {
    background-color: #121212;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    text-align: center;
}

.logo {
    max-width: 200px;
    height: auto;
}

/* Retina Image Support */
@media only screen and (-webkit-min-device-pixel-ratio: 2), 
       only screen and (min--moz-device-pixel-ratio: 2), 
       only screen and (-o-min-device-pixel-ratio: 2/1), 
       only screen and (min-device-pixel-ratio: 2), 
       only screen and (min-resolution: 192dpi), 
       only screen and (min-resolution: 2dppx) {
    .logo {
        content: url('assets/img/TM-Logo@2x.png');
    }
}