.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1156px;
  margin-bottom: 240px;

  &__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 24px;
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
  }

  .feature-card {
    background-color: $mineShaft;
    border-radius: 16px;
    border: 1px solid $white1;
    padding: 40px 48px;

    &__title {
      font-size: 16px;
      color: $white;
    }

    &__text {
      font-size: 14px;
      color: $grey5;
    }

    img { margin: 0 auto; }
  }

  &__left .feature-card > img { margin-bottom: 40px; }
  &__left .feature-card .feature-card__text { margin-bottom: 19px; }
  &__right .feature-card > img { margin-top: 24px; }
}